@font-face {
    font-family: 'Super Pixel';
    src: url('/Font/SuperPixel.ttf');
}

.button {
    -fx-background-color: #FEEE99;
    -fx-text-fill: #000000;
    -fx-font-size: 22px;
    -fx-font-family: 'Super Pixel';
    -fx-border-color: #bbbbbb;
    -fx-border-width: 2px;
    -fx-background-radius: 5;
}
